.pt_custommenu {
    position:relative;
    z-index:1000;
    font-size: 14px;
    height: 45px;
    background: #fff;
    padding: 10px 0;
}
.pt_custommenu div.pt_menu {
    float: left;
}

.pt_custommenu div.pt_menu.active {
    
}
.pt_custommenu div.popup {
    position:absolute;
    z-index:3000;
    background-color:#fff;
    text-align:left;
    padding: 30px 15px;
    margin: 0;
}

.pt_custommenu div.popup a {
    text-decoration: none;
    display:block;
    line-height: 32px;
}



.pt_custommenu .itemMenu h4.level1,
.pt_custommenu .itemSubMenu h4.level2 span{
    color: #897725;
}
.pt_custommenu .itemSubMenu h4.level2,
.pt_custommenu .itemSubMenu a.level2,
.pt_custommenu .itemSubMenu h4.level3,
.pt_custommenu .itemSubMenu a.level3,
.pt_custommenu .itemMenu a.level1.nochild{
    color: #000;
    text-transform: none;
    font-weight: normal;
    font-size: 12px;
}
.pt_custommenu .itemSubMenu a.level2:hover,
.pt_custommenu .itemMenu a.level1.nochild:hover{
    text-decoration: underline;
    
}
.pt_custommenu div.popup a.actParent {
    color: #4D4D4D;
}
.pt_custommenu div.popup a.act {
    color: #A52A2A !important;
}
.pt_custommenu div.column {
    float:left;
    width:200px; /* column width */
    margin-right: 5px;
    padding-right: 5px;
}
.pt_custommenu div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
.pt_custommenu div.itemSubMenu {

}

.pt_custommenu .block2{
    float: left;
}
.pt_custommenu div.popup .block1{
    overflow: hidden;
    float: left;
}
.pt_custommenu div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.pt_custommenu div.popup .blockright img{
    max-width: 100%;
} 

.pt_custommenu div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
.pt_custommenu #pt_menu_link{
    padding: 0;
}
.pt_custommenu #pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
.pt_custommenu #pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 0 10px;
    display: block;
}
.pt_custommenu .clearBoth {
    clear:both;
}

