@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot@#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], 
[class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

[class^="icon-"]:before, 
[class*=" icon-"]:before {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.icon-address-book:before{content:"\e002"}
.icon-adjust:before{content:"\e000"}
.icon-airplane:before{content:"\e003"}
.icon-alarm:before{content:"\e004"}
.icon-albums:before{content:"\e005"}
.icon-anchor:before{content:"\e00a"}
.icon-arrow:before{content:"\e009"}
.icon-asterisk:before{content:"\e00b"}
.icon-ax:before{content:"\e00c"}
.icon-ban:before{content:"\e00e"}
.icon-bank:before{content:"\e00f"}
.icon-barcode:before{content:"\e010"}
.icon-baseball:before{content:"\e011"}
.icon-beach-umbrella:before{content:"\e012"}
.icon-beer:before{content:"\e013"}
.icon-bell-2:before{content:"\e00d"}
.icon-bell:before{content:"\e015"}
.icon-bicycle:before{content:"\e016"}
.icon-bin:before{content:"\e017"}
.icon-binocular-2:before{content:"\e018"}
.icon-binocular:before{content:"\e014"}
.icon-bird:before{content:"\e01b"}
.icon-birthday-cake:before{content:"\e019"}
.icon-blog:before{content:"\e01a"}
.icon-boat:before{content:"\e01d"}
.icon-bomb:before{content:"\e01f"}
.icon-book-open:before{content:"\e021"}
.icon-book-white:before{content:"\e070"}
.icon-book:before{content:"\e020"}
.icon-bookmark:before{content:"\e022"}
.icon-bowling:before{content:"\e023"}
.icon-briefcase:before{content:"\e024"}
.icon-brush:before{content:"\e027"}
.icon-bug:before{content:"\e028"}
.icon-building:before{content:"\e029"}
.icon-bullets:before{content:"\e02a"}
.icon-bullhorn:before{content:"\e02b"}
.icon-buoy:before{content:"\e02c"}
.icon-bus:before{content:"\e02d"}
.icon-cake:before{content:"\e02e"}
.icon-calculator:before{content:"\e02f"}
.icon-calendar:before{content:"\e030"}
.icon-camera-2:before{content:"\e072"}
.icon-camera:before{content:"\e031"}
.icon-candle:before{content:"\e033"}
.icon-car:before{content:"\e034"}
.icon-cardio:before{content:"\e035"}
.icon-cargo:before{content:"\e036"}
.icon-cars:before{content:"\e037"}
.icon-cart-in:before{content:"\e038"}
.icon-cart-out:before{content:"\e039"}
.icon-celebration:before{content:"\e03a"}
.icon-certificate:before{content:"\e03b"}
.icon-charts:before{content:"\e03c"}
.icon-chat:before{content:"\e03d"}
.icon-check:before{content:"\e03e"}
.icon-chevron-left:before{content:"\e03f"}
.icon-chevron-right:before{content:"\e040"}
.icon-classic-hammer:before{content:"\e04c"}
.icon-claw-hammer:before{content:"\e04d"}
.icon-cleaning:before{content:"\e04e"}
.icon-clock:before{content:"\e04f"}
.icon-cloud-download:before{content:"\e051"}
.icon-cloud-upload:before{content:"\e052"}
.icon-cloud:before{content:"\e050"}
.icon-coffee-cup:before{content:"\e053"}
.icon-cogwheel:before{content:"\e054"}
.icon-cogwheels:before{content:"\e055"}
.icon-coins:before{content:"\e056"}
.icon-comments:before{content:"\e059"}
.icon-compass:before{content:"\e05a"}
.icon-conversation:before{content:"\e05b"}
.icon-credit-card:before{content:"\e05c"}
.icon-crop:before{content:"\e05d"}
.icon-crown:before{content:"\e05e"}
.icon-cup-2:before{content:"\e07b"}
.icon-cup:before{content:"\e05f"}
.icon-cutlery:before{content:"\e060"}
.icon-dashboard:before{content:"\e061"}
.icon-direction:before{content:"\e068"}
.icon-dislikes:before{content:"\e069"}
.icon-display:before{content:"\e06a"}
.icon-dog:before{content:"\e06c"}
.icon-down-arrow:before{content:"\e06d"}
.icon-download:before{content:"\e06f"}
.icon-drink:before{content:"\e071"}
.icon-dumbbell:before{content:"\e073"}
.icon-ear-plugs:before{content:"\e074"}
.icon-edit:before{content:"\e075"}
.icon-electrical-plug:before{content:"\e077"}
.icon-electrical-socket-eu:before{content:"\e078"}
.icon-electrical-socket-us:before{content:"\e079"}
.icon-electricity:before{content:"\e07a"}
.icon-embed-close:before{content:"\e07d"}
.icon-embed:before{content:"\e07c"}
.icon-envelope:before{content:"\e07e"}
.icon-euro:before{content:"\e07f"}
.icon-eye-close:before{content:"\e082"}
.icon-eye-open:before{content:"\e083"}
.icon-eyedropper:before{content:"\e084"}
.icon-fabric:before{content:"\e085"}
.icon-facetime-video:before{content:"\e087"}
.icon-fast-food:before{content:"\e089"}
.icon-female:before{content:"\e08b"}
.icon-file:before{content:"\e08c"}
.icon-film:before{content:"\e08f"}
.icon-filter:before{content:"\e090"}
.icon-fins:before{content:"\e091"}
.icon-fire:before{content:"\e092"}
.icon-fishes:before{content:"\e093"}
.icon-flag:before{content:"\e094"}
.icon-flash:before{content:"\e095"}
.icon-fleur-de-lis:before{content:"\e01c"}
.icon-flower:before{content:"\e097"}
.icon-folder-open:before{content:"\e09c"}
.icon-french-press:before{content:"\e0a2"}
.icon-fullscreen:before{content:"\e0a3"}
.icon-gamepad:before{content:"\e0a4"}
.icon-gbp:before{content:"\e0a5"}
.icon-gift:before{content:"\e0a6"}
.icon-girl:before{content:"\e0a7"}
.icon-glass:before{content:"\e0a9"}
.icon-global:before{content:"\e0aa"}
.icon-globe-2:before{content:"\e0ac"}
.icon-globe:before{content:"\e0ab"}
.icon-google-maps:before{content:"\e0ad"}
.icon-grater:before{content:"\e0af"}
.icon-group:before{content:"\e0b0"}
.icon-hammer:before{content:"\e0a1"}
.icon-hand-saw:before{content:"\e0b4"}
.icon-handycam:before{content:"\e032"}
.icon-hat-exclamation:before{content:"\e0a8"}
.icon-hat-forbidden:before{content:"\e0ae"}
.icon-hat-question:before{content:"\e0c7"}
.icon-hdd:before{content:"\e0b6"}
.icon-headphones:before{content:"\e0b7"}
.icon-headset:before{content:"\e0b8"}
.icon-heart-empty:before{content:"\e0ba"}
.icon-heart:before{content:"\e0b9"}
.icon-heat:before{content:"\e0bb"}
.icon-history:before{content:"\e0bc"}
.icon-home:before{content:"\e0bd"}
.icon-imac:before{content:"\e0c0"}
.icon-ipad:before{content:"\e0c9"}
.icon-iphone-exchange:before{content:"\e0cb"}
.icon-iphone-shake:before{content:"\e0cc"}
.icon-iphone-transfer:before{content:"\e0cd"}
.icon-iphone:before{content:"\e0ca"}
.icon-ipod-shuffle:before{content:"\e0cf"}
.icon-ipod:before{content:"\e0ce"}
.icon-kettle:before{content:"\e0d3"}
.icon-keyboard-wired:before{content:"\e0d4"}
.icon-keyboard-wireless:before{content:"\e0d5"}
.icon-keynote:before{content:"\e0d6"}
.icon-keys:before{content:"\e0d7"}
.icon-leaf:before{content:"\e0d9"}
.icon-leather:before{content:"\e0da"}
.icon-left-arrow:before{content:"\e0db"}
.icon-life-preserver:before{content:"\e0dd"}
.icon-lightbulb:before{content:"\e0de"}
.icon-link:before{content:"\e0df"}
.icon-lock:before{content:"\e0e2"}
.icon-log-book:before{content:"\e0e3"}
.icon-luggage:before{content:"\e0e4"}
.icon-macbook:before{content:"\e0e5"}
.icon-magic:before{content:"\e0e6"}
.icon-magnet:before{content:"\e0e7"}
.icon-male:before{content:"\e0e8"}
.icon-message-empty:before{content:"\e0ea"}
.icon-microphone:before{content:"\e0f3"}
.icon-moon:before{content:"\e0f4"}
.icon-more-items:before{content:"\e0f6"}
.icon-more:before{content:"\e0f5"}
.icon-move:before{content:"\e0f8"}
.icon-movie:before{content:"\e0c8"}
.icon-music-plate:before{content:"\e0d1"}
.icon-music:before{content:"\e0f9"}
.icon-mute:before{content:"\e0fa"}
.icon-nails:before{content:"\e0fb"}
.icon-nameplate-2:before{content:"\e0fd"}
.icon-nameplate:before{content:"\e0fc"}
.icon-new-window:before{content:"\e0fe"}
.icon-note:before{content:"\e0ff"}
.icon-notes-2:before{content:"\e101"}
.icon-notes:before{content:"\e100"}
.icon-ok-2:before{content:"\e007"}
.icon-ok:before{content:"\e025"}
.icon-old-man:before{content:"\e104"}
.icon-oxygen-bottle:before{content:"\e105"}
.icon-pants:before{content:"\e106"}
.icon-paperclip:before{content:"\e107"}
.icon-parents:before{content:"\e108"}
.icon-pen:before{content:"\e10a"}
.icon-pencil:before{content:"\e10b"}
.icon-phone:before{content:"\e10c"}
.icon-piano:before{content:"\e10d"}
.icon-picture:before{content:"\e10f"}
.icon-pie-chart:before{content:"\e110"}
.icon-pin-flag:before{content:"\e112"}
.icon-pin:before{content:"\e111"}
.icon-pipe:before{content:"\e0d8"}
.icon-pizza:before{content:"\e115"}
.icon-playing-dices:before{content:"\e118"}
.icon-plier:before{content:"\e0e0"}
.icon-podium:before{content:"\e11a"}
.icon-point-left:before{content:"\e10e"}
.icon-point-right:before{content:"\e114"}
.icon-pool:before{content:"\e11b"}
.icon-posterous-spaces:before{content:"\e11c"}
.icon-pot:before{content:"\e11d"}
.icon-power:before{content:"\e11e"}
.icon-print:before{content:"\e11f"}
.icon-projector:before{content:"\e120"}
.icon-pushpin:before{content:"\e121"}
.icon-qrcode:before{content:"\e122"}
.icon-rabbit:before{content:"\e124"}
.icon-random:before{content:"\e125"}
.icon-refresh:before{content:"\e128"}
.icon-remove-2:before{content:"\e006"}
.icon-remove:before{content:"\e01e"}
.icon-repeat:before{content:"\e12b"}
.icon-resize-full:before{content:"\e12c"}
.icon-resize-small:before{content:"\e12d"}
.icon-restart:before{content:"\e12e"}
.icon-retweet-2:before{content:"\e130"}
.icon-retweet:before{content:"\e12f"}
.icon-riflescope:before{content:"\e132"}
.icon-ring:before{content:"\e135"}
.icon-road:before{content:"\e136"}
.icon-rotation-lock:before{content:"\e137"}
.icon-roundabout:before{content:"\e138"}
.icon-router:before{content:"\e139"}
.icon-rss:before{content:"\e13a"}
.icon-rugby:before{content:"\e13b"}
.icon-ruller:before{content:"\e13c"}
.icon-sampler:before{content:"\e13d"}
.icon-scissors:before{content:"\e13e"}
.icon-screenshot:before{content:"\e13f"}
.icon-scuba-diving:before{content:"\e140"}
.icon-search:before{content:"\e141"}
.icon-security-camera:before{content:"\e142"}
.icon-settings-2:before{content:"\e143"}
.icon-settings:before{content:"\e001"}
.icon-share-2:before{content:"\e145"}
.icon-share:before{content:"\e008"}
.icon-sheriffs-star:before{content:"\e146"}
.icon-shield:before{content:"\e147"}
.icon-shopping-bag:before{content:"\e148"}
.icon-shopping-cart:before{content:"\e149"}
.icon-signal:before{content:"\e14e"}
.icon-skull:before{content:"\e150"}
.icon-smoking:before{content:"\e152"}
.icon-snorkel-diving:before{content:"\e153"}
.icon-snowflake:before{content:"\e154"}
.icon-soccer-ball:before{content:"\e155"}
.icon-sort:before{content:"\e156"}
.icon-spade:before{content:"\e157"}
.icon-spray:before{content:"\e159"}
.icon-star:before{content:"\e15a"}
.icon-stats:before{content:"\e15b"}
.icon-stopwatch:before{content:"\e15f"}
.icon-stroller:before{content:"\e160"}
.icon-suitcase:before{content:"\e162"}
.icon-sun:before{content:"\e163"}
.icon-sweater:before{content:"\e164"}
.icon-t-shirt:before{content:"\e17e"}
.icon-table-tennis:before{content:"\e166"}
.icon-table:before{content:"\e165"}
.icon-tablet:before{content:"\e167"}
.icon-tag:before{content:"\e168"}
.icon-tags:before{content:"\e169"}
.icon-tea-kettle:before{content:"\e16a"}
.icon-telephone:before{content:"\e126"}
.icon-television:before{content:"\e127"}
.icon-temple-buddhist:before{content:"\e16b"}
.icon-temple-christianity-church:before{content:"\e16c"}
.icon-temple-hindu:before{content:"\e16d"}
.icon-temple-islam:before{content:"\e16e"}
.icon-thumbs-up:before{content:"\e14f"}
.icon-tie:before{content:"\e178"}
.icon-tint:before{content:"\e179"}
.icon-train:before{content:"\e17a"}
.icon-tree-conifer:before{content:"\e17b"}
.icon-tree-deciduous:before{content:"\e17c"}
.icon-truck:before{content:"\e17d"}
.icon-turtle:before{content:"\e180"}
.icon-umbrella:before{content:"\e182"}
.icon-unlock:before{content:"\e184"}
.icon-usd:before{content:"\e188"}
.icon-user:before{content:"\e189"}
.icon-vases:before{content:"\e18c"}
.icon-vcard:before{content:"\e18d"}
.icon-volume-down:before{content:"\e195"}
.icon-volume-up:before{content:"\e196"}
.icon-wallet:before{content:"\e197"}
.icon-warning-sign:before{content:"\e198"}
.icon-webcam:before{content:"\e199"}
.icon-wifi-2:before{content:"\e19b"}
.icon-wifi:before{content:"\e19a"}
.icon-woman:before{content:"\e19c"}
.icon-zoom-in-2:before{content:"\e158"}
.icon-zoom-in:before{content:"\e1a1"}
.icon-zoom-out-2:before{content:"\e161"}
.icon-zoom-out:before{content:"\e1a2"}