/* Colors for skin1 */

#top-section,
#footer-bottom-wrapper {background: url(../images/skins/pattern1.jpg) repeat-x top center;}

#slogan-wrapper {background: url(../images/skins/slogan-bg1.jpg) repeat-x top center;}

.product-prize {background: url(../images/skins/prize1.png) no-repeat top left;}

#nav-wrapper {background: url(../images/skins/nav-bg1.png) no-repeat top center;}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul {background: url(../images/skins/subnav-bg1.jpg);}

.highlight1,
.table1 th {background: #DB0606 url(../images/button-overlay.png) repeat-x;}
#searchform #searchsubmit {background: #C60303 url(../images/search-btn.png) no-repeat 0 0;}

h1, h2, h3, h4, h5, h6, a,
#slider a,
ul.tabs li a,
#accordion h4.ui-state-default a,
#latest-recipes .recipes-desc a:hover,
.sidebar-widget a:hover,
#popular-posts .popular-desc a:hover,
#footer a:hover {color: #DB0606;}

.filter a:hover, .filter li.current a:hover, .portfolio-small-desc a, #commentform input[type="submit"], .wp-pagenavi a:hover, .wp-pagenavi span.current {
	color: #fff;
	background: #D70609;
	background: -moz-linear-gradient(top, #D70609 0%, #BB0000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D70609), color-stop(100%,#BB0000));
	background: -webkit-linear-gradient(top, #D70609 0%,#BB0000 100%);
	background: -o-linear-gradient(top, #D70609 0%,#BB0000 100%);
	background: -ms-linear-gradient(top, #D70609 0%,#BB0000 100%);
	background: linear-gradient(top, #D70609 0%,#BB0000 100%);
	border: 1px solid #AD0303;
}